@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
 
h1.logo {
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    font-size: 75px;
}
